<html class="{{layoutName}}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="{{appName}}">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" sizes="512x512" href="/static/icon1x.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/static/icon2x.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/icon1x.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icon1x.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/static/icon1x.png">
	<link rel="apple-touch-icon" href="/static/icon1x.png">
	<link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
    <script src="/static/slider.js"></script>
    <script src="/static/main.js"></script>
    <title>{{name}}</title>
</head>
<body>
	<div id="offline_msg">Offline</div>
	<div id="loading_msg"><img src="/static/spinner.gif" /></div>
	<input type="hidden" name="dataId" id="dataId" value="{{dataId}}">
	<input type="hidden" name="clientUpdateInterval" id="clientUpdateInterval" value="{{clientUpdateInterval}}">
	<input type="hidden" name="setpoint_warmercooler" id="setpoint_warmercooler" value="{{setpoint_warmercooler}}">
	{{layout}}
</body>
</html>