html.default{
  width: 250px;
  text-align: center;
  background-color: #bceeca;
}
html.default .ui-page{
  background-color: #bceeca;
  background-image: url('/static/schneider-30.png');
  background-repeat:no-repeat;
  background-position: top center;
  background-size: 300px 300px;
  font-size: 14pt;
}

#offline_msg{
  position: fixed;
  top: 3px;
  right: 3px;
  color: red;
}
#loading_msg{
  position: fixed;
  top: 3px;
  right: 3px;
  color: white;
}


html.se8300{
  width: 250px;
  text-align: center;
  background-color: #789b3f;
  background-size: 300px 300px;
  color: white;
}
html.se8300 .ui-page{
  background-color: #789b3f;
  background-image: url();
  background-repeat:no-repeat;
  background-position: top center;
  background-size: 300px 300px;
  font-size: 14pt;
  color: white;
  text-shadow: 0 1px 0 #333333;
}



div#dataWrapper {
}
.ui-slider-input{
	display: inline-block !important;
	float: none !important;
	margin: auto !important;
	margin-top: 20px !important;
}
.ui-bar-inherit{
	background-color: rgb(1,208,94) !important;
}
#dataWrapper, .ui-page{
  position: fixed !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
}