<div id="dataWrapper">
    <label for="vert">{{name}}</label>
    <div>Temperature: <b id="roomTemp">-- F</b></div>
    <div>Setpoint: <b id="roomSP">-- F</b></div>
    <div class="wc_item">W/C Adj: <b id="roomWC">-- F</b></div>
    <br />
    <div style="text-align:center; width:100%; position: fixed; bottom: 0;">
	    <input type="range" name="vert" id="vert" data-vertical="true" min="{{min}}" max="{{max}}" step="{{step}}" value="{{wc}}" style="opacity: 0; height: 1px; width: 1px" />
    </div>
    <div style="position: fixed; bottom: 0px; left: 0px; width: 100%; display: none">
    	<a href="#" id="hideAddtoHome">
    		<img src="/static/add-to-home-screen.png" style="width: 100%;" />
    	</a>
    </div>
</div>