<div id="dataWrapper">
    <label for="vert">{{name}}</label>
    <div style="text-align: left; max-width: 300px; margin: auto">
        <div style="display: inline-block; height: 300px; width:145px;">
            <div>Temperature</div>
            <div style="font-size:2.5em;margin-top:-14px; white-space: nowrap;"><b id="roomTemp">-- F</b></div>
        </div>
        <div style="display: inline-block; height: 300px; width:145px; text-align: right;">
            <div>Setpoint: <b id="roomSP">-- F</b></div>
            <div class="wc_item">W/C Adj: <b id="roomWC">-- F</b></div>
        </div>
    </div>
    <br />
    <div style="text-align:center; width:100%; position: fixed; bottom: 0;">
	    <input type="range" name="vert" id="vert" data-vertical="true" min="{{min}}" max="{{max}}" value="{{wc}}" step="{{step}}" style="opacity: 0; height: 1px; width: 1px" />
    </div>
    <div style="position: fixed; bottom: 0px; left: 0px; width: 100%; display: none">
    	<a href="#" id="hideAddtoHome">
    		<img src="/static/add-to-home-screen.png" style="width: 100%;" />
    	</a>
    </div>
</div>